.App {
  text-align: center;
}

.mockups {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.mockup-container {
  position: relative;
  width: fit-content;
}

.mockupIphone {
  width: 500px; /* Adjust based on your mockup dimensions */
}

.mockupMac {
  width: 750px; /* Adjust based on your mockup dimensions */
}

.iphone-screen,
.macbook-screen {
  position: absolute;
  object-fit: cover; /* Ensures the image fills the mockup screen */
}

/* Adjust positioning to fit your mockup screens */
.iphone-screen {
  top: 44px;
  left: 156px;
  width: 190px;
  height: 410px;
  border-radius: 24px;
}

.macbook-screen {
  top: 118px;
  left: 188px;
  width: 380px;
  height: 238px;
  border-radius: 2px;
}
